<h1><%= @user_calendar.title %></h1>
<p><%= @user_calendar.description %></p>

<%= link_to '新しいイベントを追加', new_user_calendar_event_path(@user_calendar), class: 'btn btn-primary' %>

<%= month_calendar do |date| %>
  <div class="day">
    <%= date %>
    <% events_for_day = @user_calendar.events.where("DATE(start_time) = ?", date.to_date) %>
    <% if events_for_day.any? %>
      <ul>
        <% events_for_day.each do |event| %>
          <li>
            <%= link_to event.title, edit_user_calendar_event_path(@user_calendar, event), class: 'event-link' %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>

<%= button_to '編集', edit_user_calendar_path(@user_calendar),
              class: 'btn btn-danger' %>
<%= button_to 'カレンダーを削除', 
              user_calendar_path(@user_calendar), 
              method: :delete, 
              data: { confirm: '本当に削除しますか？' }, 
              class: 'btn btn-danger' %>
<%= button_to '一覧に戻る', mypage_path,
              class: 'btn btn-danger' %>